h1.lms{
    text-align: center;
    color:white;
}

.lms1{
    color:white;
}

div.upmenu{
    background-color: teal;
    width: 100%;
    height: 20%;
    float:left;
}

div.container{
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image:url("../imagers/bwooden.jpg"); 
    background-attachment: fixed;
}

div.menu{
    background-color: teal;
    width: 100%;
    height: 6.4%;
    float:left;
    background-color: black;
}

div.body{
    float: left;
    height: 73.6%;
    width: 100%;
    background-color: 
}

div.left{
    width:35%;
    height: 100%;
    float: left;
}

div.leftup{
    width:100%;
    height: 10%;
    float: left;
}

div.leftleft{
    width: 10%;
    height: 79%;
    float: left;
}

div.leftcenter{
    width: 80%;
    height: 79%;
    float: left;
}

div.leftcentertitle{
    width: 100%;
    height: 5%;
    text-align: center;
    color: white;
    font-family: monospace;
}

div.leftcenterbody{
    width: 100%;
    height: 92%;
}

div.rightup{
    width:100%;
    height: 10%;
    float: left;
}

div.rightleft{
    width: 10%;
    height: 79%;
    float: left;
}

div.rightcenter{
    width: 80%;
    height: 79%;
    float: left;
}

div.rightcentertitle{
    width: 100%;
    height: 5%;
    text-align: center;
    color: white;
    font-family: monospace;
}

div.rightcenterbody{
    width: 100%;
    height: 92%;
}

div.block1{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: red;
}

.block11{
    height: 100%;
    width: 100%;
}

.block12{
    height: 100%;
    width: 100%;
}

.block13{
    height: 100%;
    width: 100%;
}

.block14{
    height: 100%;
    width: 100%;
}

.block15{
    height: 100%;
    width: 100%;
}

.block16{
    height: 100%;
    width: 100%;
}

.block17{
    height: 100%;
    width: 100%;
}

.block18{
    height: 100%;
    width: 100%;
}

.block19{
    height: 100%;
    width: 100%;
}

.block11:hover{
    opacity: 0.6;
}

div.block2:hover{
    background-color: coral;
    opacity: 0.8;
}

div.block3:hover{
    background-color: deeppink;
    opacity: 0.8;
}

div.block4:hover{
    background-color: navy;
    opacity: 0.8;
}

div.block5:hover{
    background-color: crimson;
    opacity: 0.8;
}

div.block6:hover{
    background-color: hotpink;
    opacity: 0.8;
}

div.block7:hover{
    background-color: darkblue;
    opacity: 0.8;
}

div.block8:hover{
    background-color: greenyellow;
    opacity: 0.8;
}

div.block9:hover{
    background-color: red;
    opacity: 0.8;
}

div.block2{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: greenyellow;
}

div.block3{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: blue;
}

div.block4{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: gold;
}

div.block5{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: orange;
}

div.block6{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: indigo;
}

div.block7{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: cyan;
}

div.block8{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: maroon;
}

div.block9{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: darkmagenta;
}

div.center{
    width:30%;
    height: 100%;
    float: left;
}

div.right{
    width:35%;
    height: 100%;
    float: left;
}

div.centerup{
    height: 10%;
    width: 100%;
}

div.footer{
    width: 100%;
    height: 10%;
    float: left;
    background-color: teal;   
}

.dropdown-content1 a:hover {
    background-color: #f1f1f1
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.7;
}


li {
    float: left;
}

li a, .dropbtn1 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown1:hover .dropbtn1 {
    background-color: red;
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 174px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {
    background-color: lightgray
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown-content a:hover {background-color: cyan}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.7;
}

li {
    float: left;
}

li.news{
    background-color: red;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 158px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer{
    text-align: center;
    color: white;
    
}

th, td {
    padding: 29px;
    text-align: left;
    color: teal;
    font-size: 20px;
    background-color: teal;
}

label{

    color: white;
    font-family: sans-serif;
    font-size: 17px;
}

table {
    border: 2px solid gray;
}

.buttonp{
    background-color:floralwhite;
    padding: 10px;
    border-color: black;
    font-family: fantasy;
    font-size: 17px;
}

.buttonp:hover{
    background-color: gold;
}

.rightimg{
    height: 100%;
    width: 100%;
}